* {
    font-family: "Gill Sans", sans-serif;
}
h1 {
    text-align: center;
    font-style: italic;
    background: linear-gradient(to right, red, pink,orange,yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 {
    text-align: center;
    font-style: italic;
    background: linear-gradient(to right, red, pink,orange,yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body {
    background-image: url("/static/img/backgrounds.jpg");
    background-size: cover;
    text-align: center;
}
form {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
}
.reg {
    position:absolute;
    top: 90%;
    left: 50%;

    text-align: center;
}
.reg p {
    font-size: 24pt;
}
footer {
    position:absolute;
    color:#fff;
    bottom:0;
    width:100%;
    height:20px;
    font-size: small;
}
