<!doctype html>
<html>
    <head>
      <title> Sokoban</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='render2.css')}}">
    </head>
    <body>
        <div>
            Link:
            <a href="{{ url_for('index') }}">homes</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        <p>If you want to record your grades : </p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>