<!-- templates/panel.html -->

<DOCTYPE html>
    <html lang="zh-han">
        <head>
            <title>profile</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="css/style.css" rel="stylesheet">
        </head>
        <body>
            <h3>profile</h3>
            <p>username：{{user.username}}</p>
            <p>pwd：{{user.password}}</p>
            <p>email：{{user.email}}</p>
        </body>
    </html>