<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="./style.css" rel="stylesheet" type="text/css"/>
        <title>Home Page</title>
    </head>
    <body>
        <h1 style="font-style: italic;text-align: center;">Welcome to Sokoban Games!</h1>
        <br>
        <p style="text-align: center">Do you want to <a href="{{ url_for('login') }}">Login</a>  
            or <a href="{{ url_for('register') }}">register</a> ?
        </p>
        <br>
        <p style="text-align: center">Or just start playing?</p>
    </body>
</html>
