<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
        <title>Home Page</title>
    </head>
    <body>
        <h1>Welcome to Sokoban Games!</h1>
        <br>
        <p>Do you want to <a href="{{ url_for('login') }}">Login</a>  
            or <a href="{{ url_for('register') }}">register</a>?
        </p>
        <br>
        <p>Or just 
            <a href="{{ url_for('intro') }}">start playing</a>?
        </p>

        <footer>
            <p>By Zheyuan Deng(22856226), Yongyi Lin(22376411) & ().</p>
        </footer>
    </body>
</html>
