<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='push.css')}}" rel="stylesheet">
        <title>Introduction</title>
    </head>
    <body>
        <div>
            <button onclick="intro()">Game Notes</button>
        </div>
        <div id="introduction" style="display:none">
            <div class="close">
                <span onclick="close()">x</span>
            </div>
            <div class="content">
                <h3 id="intro-heading">Instruction of Push Box Game</h3>
                <p>
                    This game is a puzzle game of Sokoban. Although the whole game process is simple, 
                    it requires players to think about how to make full use of the effective space, 
                    and reasonably push the box to the designated position, so as to win the game.
                </p>
                <p>
                    Players will play as a role of Batman in the game and can move it by manipulating the up, 
                    down, left and right buttons on the keyboard. The player will pass the level when the player pushes 
                    all the boxes around the obstacles and onto all the Light colored positions. Also, the box can only be pushed, not pulled.
                </p>
                <p>
                    In order to enrich the fun of players, this game not only provides levels, but also has the function of leaderboard. 
                    This feature records the number of steps a player has taken on each level and all levels, then converts them into scores and 
                    divides them into one of three levels. Finally publish these data in a leaderboard.
                    In this leaderboard, you can compare with your friends or other players who needs the fewest moves and enjoy this challenging game.
                </p>
            </div>
        </div>
    </body>
    <script>
        function intro() {
            document.getElementById('introduction').style.display=""
        }
        function close() {
            document.getElementById('introduction').style.display="none"
        }
    </script>
</html>
