<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet">
        <title>Login</title>
    </head>
    <body>
        <form action="login" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password }}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }}</p>
        </form>
        <br>
        <div style="color:#4d4d4d">
            <p>No account? <a href="{{ url_for('register') }}" style="text-decoration:none; color:#43A047">Register </a>one :)</p>
        </div>

        <footer>
            <p>By Zheyuan Deng(22856226), Yongyi Lin(22376411) & ().</p>
        </footer>
    </body>
</html>
