<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="./style.css" rel="stylesheet" type="text/css">
        <title>Register</title>
    </head>
    <body>
        <form action="register" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password }}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit() }}</p>
        </form>
        <br>
        <div class="change" style="color:#4d4d4d">
            <p>Existing an account? <a href="login.html" style="text-decoration:none; color:#43A047">Login </a>it :)</p>
        </div>
    </body>
</html>
