<!doctype html>
<html>
    <head>
      {% if title %}
      <title>{{ title }} - Sobokan</title>
      {% else %}
      <title>Welcome to Sokoban Games</title>
      {% endif %}
      <link rel="stylesheet" href="{{ url_for('static', filename='render2.css')}}">
    </head>
    <body>
        <div>
            Sokoban Game: 
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        <p>If you want to record your grades: </p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}

        <footer>
            <p>By Zheyuan Deng(22856226), Yongyi Lin(22376411) & ().</p>
        </footer>
    </body>
</html>