{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
        <br>
        <div style="color:#4d4d4d">
            <p>No account? <a href="{{ url_for('register') }}" style="text-decoration:none; color:#43A047">Register </a>one :)</p>
        </div>
        <br>
        <p id="attamp">Or you just want to try the game?<br>
            <a href="{{ url_for('play') }}" style="text-decoration:none; color:#43A047">Go and play</a> !</p>
    </form>
        
        <footer>
            <p>By Zheyuan Deng(22856226), Yongyi Lin(22376411) & ().</p>
        </footer>

{% endblock %}